.add-margin-medium {
  margin-top: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.scroll-overflow {
  max-height: 600px;
  overflow-y: scroll;
}

.monospace-font,
.preformatted,
li.definition,
li.expression {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul.unstyled {
  list-style: none;
  padding: 0;
}

li.definition,
li.expression {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

li.expression {
  color: #777;
}

li.expression:first-child {
  color: inherit;
}

.preformatted {
  white-space: pre;
  display: block;
  line-height: 1.43;
  page-break-inside: avoid;
  word-break: break-all;
  word-wrap: break-word;
}

.comment {
  font-style: italic;
  padding-left: 30px;
}


.highlight-function {
  text-decoration: underline 2px blue;
  -webkit-text-decoration: underline 2px blue;
}

.highlight-argument {
  text-decoration: underline 2px red;
  -webkit-text-decoration: underline 2px red;
}

.highlight-global {
  text-decoration: underline 2px lightgreen;
  -webkit-text-decoration: underline 2px lightgreen;
}
