.add-margin-small {
  margin-top: 10px;
}

.add-margin-medium {
  margin-top: 15px;
}

.add-margin-large {
  margin-top: 30px;
}

.monospace-font {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

