.add-margin-medium {
  margin-top: 15px;
}

.monospace-font {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.scroll-overflow {
  max-height: 600px;
  overflow-y: scroll;
}

ul.unstyled {
  list-style: none;
  padding: 0;
}

li.definition,
li.expression {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

li.expression {
  color: #777;
}

li.expression:first-child {
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}
